# Add @Generated annotation
lombok.addLombokGeneratedAnnotation = true
# Add @ConstructorProperties for Jackson serialization
lombok.anyConstructor.addConstructorProperties = true
# Copy Javadoc from fields to getters
lombok.copyableAnnotations += javax.annotation.Nonnull
lombok.copyableAnnotations += javax.annotation.Nullable
